# Compiled output
/src/api/target/
/src/ui/dist
/src/ui/dist-server
/src/ui/out-tsc
/src/ui/tmp

# Dependencies
/src/ui/node_modules

# IDEs and editors
/.idea
*.iml
*.iws
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
nb-configuration.xml
*~
*.swp
*.swo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/src/ui/.sass-cache
/src/ui/connect.lock
/src/ui/coverage
/src/ui/libpeerconnection.log
/src/ui/typings
logs/
npm-debug.log
yarn-error.log
testem.log

# E2E
/src/ui/e2e/*.js
/src/ui/e2e/*.map

# System Files
.DS_Store
Thumbs.db
